<div id="order-options" team="" quantity=""></div>

<%= render 'pages/pricing' %>
<%= render 'pages/gallery' %>
<%= render 'pages/faq' %>

<%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
<%= javascript_include_tag 'landing' %>
