<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PokeGraffiti</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="mystic, valor, instinct"/>
        <meta name="description" content="It's Time to Show the World Where You Stand!"/>

        <!-- Facebook -->
        <meta property="og:title" content="PokeGraffiti Team Die Cut Stickers"/>
        <meta property="og:type" content="game"/>
        <meta
            property="og:description"
            content="You have been training and preparing for this your entire life. Now you must defend your gym and the honor of your team. Every time someone walks by, remind them who's boss. Leave your mark with these 3 inch die cut all weather vinyl stickers."/>
        <meta property="og:image" content="<%= image_url('card-facebook.jpg') %>"/>
        <meta property="og:url" content="<%= root_url %>"/>
        <meta property="og:site_name" content="PokeGraffiti"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="<%= root_url %>"/>
        <meta name="twitter:title" content="PokeGraffiti Team Die Cut Stickers"/>
        <meta
            name="twitter:description"
            content="You have been training and preparing for this your entire life. Now you must defend your gym and the honor of your team. Every time someone walks by, remind them who's boss. Leave your mark with these 3 inch die cut all weather vinyl stickers."/>
        <meta name="twitter:image" content="<%= image_url('card-twitter.jpg') %>"/>

        <!-- link rel="shortcut icon" href="ico/favicon.png" -->

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-80812329-1', 'auto');
            ga('send', 'pageview');
        </script>

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://checkout.stripe.com/checkout.js"></script>
    </head>

    <body>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    </body>
</html>
